---
import MainLayout from "@layouts/MainLayout.astro";
import FinalScores from "@components/FinalScores.astro";
import styles from "@components/FooterLink.module.css";
import slug from "slug";
import { format } from "node:util";

export async function getStaticPaths() {
  const episodes = (await import("@src/episodes.ts")).default;
  return episodes.map((episode) => {
    return { 
        params: { episodeTitle: slug(episode.title) },
        props: { episode }
    };
  })
}

const {episodeTitle} = Astro.request.params;
const {episode} = Astro.props;
---

<MainLayout>
<a href={`${Astro.site}#episodes`}>&lt;- Episodes</a>
<h1>Episode {episode.episodeNumber}: {episodeTitle}</h1>
<section id="episode-blurb">
  <blockquote>{episode.description}</blockquote>
  <div>Host: {episode.host}</div>
  <div>Presenters: not {episode.host} lol</div>
</section>
<h2>Timestamp UI with a lotta timestamps!!!</h2>
<pre><code>{format(episode)}</code></pre>
<div id="episode-next-prev">
  <a href="#">Previous Episode</a>
  <a href="#">Next Episode</a>
</div>
{episode.scores ? <FinalScores scores={episode.scores}/> : ""}
<Fragment slot="footer">
  <li>
    <a
      class={styles.FooterLink}
      href="https://github.com/jasikpark/unofficial-distractible-scoreboard/"
      >Edit on Github</a>
  </li>
</Fragment>
</MainLayout>
