---
import { Score } from "@src/episodes.ts";
import characters from "@components/characters.module.css";
export interface Props {
  placement: string;
  score: Score;
}
import { formatScore } from "@src/utils.ts";

const { score, placement } = Astro.props as Props;

const getCharacterStyle = ({ character }: Score) =>
  characters[character.toLowerCase()];

const placements = (placement) => {
  switch (placement + 1) {
    case 1:
      return "1st";
    case 2:
      return "2nd";
    case 3:
      return "3rd";
    default:
      return `${placement}th`;
  }
};
---

<li class={getCharacterStyle(score)}>
  <span>{placements(placement)}</span>
  <svg
    width="100"
    height="101"
    viewBox="0 0 100 101"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M15.537 3.13385C15.537 2.30271 15.8672 1.5056 16.4549 0.917884C17.0426 0.330174 17.8397 0 18.6708 0H81.3478C82.179 0 82.9763 0.330174 83.5639 0.917884C84.1516 1.5056 84.4817 2.30271 84.4817 3.13385C84.4817 6.50588 84.4065 9.71495 84.2686 12.7611C86.7453 13.1711 89.1145 14.073 91.2371 15.4134C93.3595 16.7538 95.1922 18.5057 96.6269 20.5656C98.0614 22.6256 99.069 24.9521 99.5903 27.4077C100.112 29.8632 100.136 32.3984 99.6614 34.8635C99.1873 37.3284 98.2244 39.6737 96.8293 41.7607C95.4342 43.8477 93.6355 45.6342 91.5391 47.0149C89.4425 48.3958 87.0909 49.3426 84.6225 49.8C82.1542 50.2574 79.6193 50.2157 77.1674 49.6778C72.2159 61.3672 65.3966 67.0834 59.4108 68.55V82.1697L68.3424 84.401C69.5584 84.7018 70.7052 85.247 71.7081 85.9991L83.2281 94.6424C83.7544 95.0371 84.1432 95.5873 84.3392 96.215C84.5352 96.8429 84.5289 97.5164 84.321 98.1404C84.1129 98.7645 83.7138 99.3072 83.1803 99.6919C82.6467 100.076 82.0056 100.283 81.3478 100.283H18.6708C18.0131 100.283 17.372 100.076 16.8385 99.6919C16.3049 99.3072 15.9058 98.7645 15.6978 98.1404C15.4898 97.5164 15.4834 96.8429 15.6795 96.215C15.8757 95.5873 16.2643 95.0371 16.7905 94.6424L28.3105 85.9991C29.3133 85.247 30.4604 84.7018 31.6763 84.401L40.6077 82.1697V68.55C34.6222 67.0834 27.8029 61.3672 22.8514 49.6717C20.3981 50.2125 17.8614 50.2563 15.3909 49.8002C12.9204 49.3444 10.5664 48.3981 8.46771 47.0174C6.36908 45.6364 4.56842 43.8491 3.17209 41.7607C1.77576 39.6723 0.812071 37.3252 0.337933 34.8583C-0.136206 32.3913 -0.111178 29.8541 0.411539 27.3969C0.934257 24.9398 1.94406 22.6123 3.38132 20.5518C4.81858 18.4914 6.65416 16.7399 8.77964 15.4007C10.9051 14.0615 13.2774 13.1618 15.7563 12.7548C15.6088 9.54994 15.5357 6.3421 15.537 3.13385ZM16.1575 19.0538C12.8869 19.6522 9.98803 21.5254 8.09853 24.2613C6.20903 26.997 5.48374 30.3713 6.08215 33.6419C6.68057 36.9125 8.55373 39.8113 11.2895 41.701C14.0253 43.5904 17.3997 44.3157 20.6702 43.7171C18.5831 37.1361 16.9848 29.0131 16.1575 19.0538ZM79.3547 43.7171C82.6253 44.3157 85.9996 43.5904 88.7355 41.701C91.4712 39.8113 93.3444 36.9125 93.9429 33.6419C94.5412 30.3713 93.816 26.997 91.9266 24.2613C90.0369 21.5254 87.138 19.6522 83.8674 19.0538C83.0339 29.0195 81.4356 37.1361 79.3547 43.7171ZM21.8298 6.26771C21.8736 9.50811 21.9927 12.573 22.1807 15.475C22.9955 28.186 25.0451 37.7004 27.6336 44.7264C33.0489 59.4179 40.5074 62.6771 43.7416 62.6771C44.5728 62.6771 45.37 63.0073 45.9576 63.5949C46.5454 64.1827 46.8754 64.9797 46.8754 65.8109V82.1697C46.8754 83.567 46.4087 84.924 45.549 86.0255C44.6893 87.1271 43.4863 87.9097 42.1309 88.2493L33.1931 90.4806C32.7874 90.5816 32.4059 90.7628 32.0711 91.0133L28.0723 94.0156H71.9463L67.9475 91.0133C67.6108 90.7621 67.2272 90.5809 66.8193 90.4806L57.8879 88.2493C56.5325 87.9097 55.3295 87.1271 54.4698 86.0255C53.6101 84.924 53.1434 83.567 53.1431 82.1697V65.8109C53.1431 64.9797 53.4734 64.1827 54.0612 63.5949C54.6488 63.0073 55.446 62.6771 56.277 62.6771C59.5111 62.6771 66.9697 59.4179 72.385 44.7264C74.9737 37.7065 77.0231 28.1796 77.8379 15.475C78.0259 12.573 78.1451 9.50811 78.1889 6.26771H21.8298Z"
      fill="currentColor"></path>
  </svg>
  <span>{score.character}</span>
  <span>{formatScore(score.score)}</span>
</li>

<style>
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  svg {
    height: 2em;
    width: 2em;
  }
</style>
