---
import { Score } from "@src/episodes.ts";
import characters from "@components/characters.module.css";
export interface Props {
  placement: string;
  score: Score;
}
const { score, placement } = Astro.props as Props;
const getCharacterStyle = ({ character }: Score) =>
  characters[character.toLowerCase()];
const placements = (placement) => {
  switch (placement + 1) {
    case 1:
      return "1st";
    case 2:
      return "2nd";
    case 3:
      return "3rd";
    default:
      return `${placement}th`;
  }
};
---

<li class={getCharacterStyle(score)}>
  <span>{placements(placement)}</span>
  <svg
    width="44"
    height="44"
    viewBox="0 0 44 44"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M6.87501 1.375C6.87501 1.01033 7.01987 0.660591 7.27773 0.402728C7.5356 0.144866 7.88533 0 8.25001 0L35.75 0C36.1147 0 36.4644 0.144866 36.7223 0.402728C36.9801 0.660591 37.125 1.01033 37.125 1.375C37.125 2.8545 37.092 4.2625 37.0315 5.599C38.1181 5.77893 39.1577 6.17463 40.089 6.76275C41.0202 7.35086 41.8243 8.1195 42.4537 9.02332C43.0832 9.92715 43.5253 10.9479 43.7539 12.0253C43.9826 13.1027 43.9933 14.215 43.7852 15.2966C43.5771 16.3781 43.1546 17.4071 42.5426 18.3228C41.9305 19.2385 41.1413 20.0223 40.2214 20.6281C39.3016 21.2339 38.2697 21.6494 37.1868 21.8501C36.1038 22.0508 34.9916 22.0325 33.9158 21.7965C31.7433 26.9253 28.7513 29.4333 26.125 30.0768V36.0525L30.0438 37.0315C30.5773 37.1635 31.0805 37.4027 31.5205 37.7327L36.575 41.525C36.8059 41.6982 36.9764 41.9396 37.0625 42.215C37.1485 42.4905 37.1457 42.786 37.0544 43.0598C36.9632 43.3336 36.7881 43.5717 36.554 43.7405C36.3199 43.9092 36.0386 44 35.75 44H8.25001C7.96142 44 7.68014 43.9092 7.44603 43.7405C7.21191 43.5717 7.03683 43.3336 6.94557 43.0598C6.85431 42.786 6.8515 42.4905 6.93755 42.215C7.0236 41.9396 7.19414 41.6982 7.42501 41.525L12.4795 37.7327C12.9195 37.4027 13.4228 37.1635 13.9563 37.0315L17.875 36.0525V30.0768C15.2488 29.4333 12.2568 26.9253 10.0843 21.7938C9.00787 22.0311 7.89484 22.0503 6.81091 21.8502C5.72697 21.6502 4.69411 21.235 3.77332 20.6292C2.85252 20.0233 2.06247 19.2391 1.44982 18.3228C0.837173 17.4065 0.414346 16.3767 0.206315 15.2943C-0.00171701 14.2119 0.00926435 13.0987 0.23861 12.0206C0.467956 10.9425 0.911016 9.92129 1.54162 9.01726C2.17223 8.11324 2.9776 7.34475 3.91017 6.75717C4.84273 6.1696 5.88359 5.77485 6.97126 5.59625C6.90651 4.1901 6.87442 2.78264 6.87501 1.375ZM7.14726 8.36C5.71227 8.62256 4.44036 9.44442 3.61133 10.6448C2.7823 11.8451 2.46407 13.3256 2.72663 14.7606C2.9892 16.1956 3.81105 17.4675 5.0114 18.2966C6.21175 19.1256 7.69227 19.4438 9.12726 19.1812C8.21151 16.2938 7.51026 12.7297 7.14726 8.36ZM34.8755 19.1812C36.3105 19.4438 37.791 19.1256 38.9914 18.2966C40.1917 17.4675 41.0136 16.1956 41.2761 14.7606C41.5387 13.3256 41.2205 11.8451 40.3914 10.6448C39.5624 9.44442 38.2905 8.62256 36.8555 8.36C36.4898 12.7325 35.7885 16.2938 34.8755 19.1812ZM9.63601 2.75C9.65526 4.17175 9.70751 5.5165 9.79 6.78975C10.1475 12.3668 11.0468 16.5413 12.1825 19.624C14.5585 26.07 17.831 27.5 19.25 27.5C19.6147 27.5 19.9644 27.6449 20.2223 27.9027C20.4801 28.1606 20.625 28.5103 20.625 28.875V36.0525C20.625 36.6656 20.4201 37.261 20.043 37.7443C19.6658 38.2276 19.1379 38.571 18.5433 38.72L14.6218 39.699C14.4437 39.7433 14.2764 39.8228 14.1295 39.9328L12.375 41.25H31.625L29.8705 39.9328C29.7228 39.8225 29.5545 39.743 29.3755 39.699L25.4568 38.72C24.8621 38.571 24.3342 38.2276 23.9571 37.7443C23.5799 37.261 23.375 36.6656 23.375 36.0525V28.875C23.375 28.5103 23.5199 28.1606 23.7777 27.9027C24.0356 27.6449 24.3853 27.5 24.75 27.5C26.169 27.5 29.4415 26.07 31.8175 19.624C32.9533 16.544 33.8525 12.364 34.21 6.78975C34.2925 5.5165 34.3448 4.17175 34.364 2.75H9.63601Z"
      fill="currentColor"></path>
  </svg>
  <span>{score.character}</span>
  <span>{score.score}</span>
</li>

<style>
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1em;
  }
  li > * + * {
    padding-inline-start: 1em;
  }
  svg {
    width: 1em;
    height: 1em;
  }
</style>
