---
import styles from "@components/Intro.module.css";
---

<section class={styles.distractibleBlurb}>
  <figure class={styles.figure}>
    <div class={styles.podlink}>
      <noscript class="loading-lazy">
        <iframe
          width="500px"
          height="500px"
          loading="lazy"
          src="https://podlink.to/distractiblepodcast/episode/2021-05-14?embed=true"
          title="Trailer for Distractible on Youtube"></iframe>
      </noscript>
    </div>
    <figcaption>
      <a href="https://podlink.to/distractiblepodcast/episode/2021-05-14">
        Trailer for Distractible on Youtube
      </a>
    </figcaption>
  </figure>

  <div class={styles.blurb}>
    <div>This is a fan-made website for Distractible -</div>
    <div>
      ...[a] podcast with Mark Fischbach, Wade Barnes, and Bob Muyskens is a
      space to have thoughtful discussions about funny, out there, or otherwise
      interesting stories from everyday life. Also an opportunity for three
      friends to remind each other they are not as smart as they think.
    </div>
    <div class={styles.textRight}>-- Distractible Playlist Page</div>
  </div>

  <p class={styles.siteIntro}>
    You can find the scores for everyone on the podcast, updates as soon as we
    can get our hands on them, and breakdowns of the points to the minute on the
    episodes pages!
  </p>
</section>
